<main>
    <div id="welcome">
        <h2>Welcome!</h2>
        <p>Please provide your email address, desired username, and password below</p>
        <form id="login">
            <label for="emailInput">Email:</label>
            <input type="text" name="emailInput" id="emailInput" placeholder="Type email here...">
            <label for="usernameInput">Username:</label>
            <input type="text" name="usernameInput" id="usernameInput" placeholder="Pick a username...">
            <label for="passwordInput">Password:</label>
            <input type="text" name="passwordInput" id="passwordInput" placeholder="Choose a password...">
            <button type="submit" id="submitCreate">SUBMIT</button>
        </form>
    </div>
</main>