<main>
    <div id="welcome">
        <p>Correct the fields you'd like to update!</p>
        <form id="login">
            <label for="emailEdit">Email:</label>
            <input type="text" name="emailEdit" id="emailEdit">
            <label for="usernameEdit">Username:</label>
            <input type="text" name="usernameEdit" id="usernameEdit">
            <label for="passwordEdit">Password:</label>
            <input type="text" name="passwordEdit" id="passwordEdit" placeholder="Choose a password...">
            <button type="submit" id="submitEdit">UPDATE PROFILE</button>
            <button type="submit" id="submitDelete">DELETE PROFILE</button>
        </form>
    </div>
</main>