<main>
    <div class="welcome-box">
        <h2>WELCOME</h2>
        <p>This is a planning app for the backyard vegetable gardener in the Pacific Northwest</p>
        <form class="login" id="login-form">
            <h3>Login</h3>
            <label for="userName">Username:</label>
            <input type="text" name="userName" id="userName" required="required" >
            <label for="password">Password:</label><button id="togglePassword">ShowPassword</button>
            <input type="password" autocomplete="current-password" name="password" id="password">
            <button type="submit" id="submitLogin" required="required" >Sign In</button>
        </form>
        <p>New here?</p>
        <button id="createUser">Start planning your garden today!</button>
    </div>
</main>
<script src="/script/login.js"></script>