<main>
    <div id="welcome-box">
        <h2 class="welcome">Welcome</h2>
        <p id="welcomePTag">This is a square foot garden planning app for the Pacific Northwest</p>
        <form id="login">
            <h3 id="loginH3">Login</h3>
            <label for="userName" id="usernameColor">Username:</label>
            <input type="text" name="userName" id="userName" required="required">
            <label for="password" id="passwordColor">Password:</label>
            <input type="password" autocomplete="current-password" name="password" id="password">
            <button id="togglePassword" class="loginButton">ShowPassword</button>
            <br>
            <button type="submit" id="submitLogin" required="required" class="loginButton">Sign In</button>
        </form>
        <br>
        <p id="newHereP">New here?</p>
        <button id="createUser"  class="loginButton">Start planning your garden today!</button>
    </div>
</main>
<script src="/script/login.js"></script>