<main>
    <div class="welcomeBox">
        <h2 class="welcome">Welcome</h2>
        <p class="grayFont">This is a square foot garden planning app for the Pacific Northwest</p>
        <form id="login">
            <h3 class="oliveFont">Login</h3>
            <label for="userName" class="grayFont">Username:</label>
            <input type="text" name="userName" class="grayFont" required="required">
            <label for="password" class="grayFont">Password:</label>
            <input type="password" autocomplete="current-password" name="password" id="password">
            <p id="togglePassword" style="text-align:right; color:#6c757d; text-decoration: underline; cursor: pointer;">ShowPassword</p>
            <button type="submit" id="submitLogin" required="required" class="loginButton">Sign In</button>
        </form>
        <br>
        <p id="newHereP">New here?</p>
        <button id="createUser"  class="loginButton">Start planning your garden today!</button>
    </div>
</main>
<script src="/script/login.js"></script>