<main style="display:flex; flex-direction:column; align-items: center;">
    {{!-- should just be username, since that's a key in the object, req.session.user, that we're passing it --}}
    <div id="big-box" style="background-color: #F8F9FA; padding: 20px;">
        <h1>Welcome back {{username}}!</h1>
        <div id="button-box" style="display:flex; flex-direction:column; align-items: stretch; text-align: center;">
            <h2 id="create">Create New Garden</h2>
            <h2 id="old-gard">Old Garden Plans</h2>
            <h2 id="view-prof">View/Edit Profile</h2>
            <button id="logout">Logout</button>
        </div>
    </div>
</main>
<script src="/script/dashboard.js"></script>