<main>
    {{!-- should just be username, since that's a key in the object, req.session.user, that we're passing it --}}
    <h2>Welcome back {{username}}!</h2>
    <h2 id="create">Create New Garden</h2>
    <h2 id="old-gard">Old Garden Plans</h2>
    <h2 id="view-prof">View/Edit Profile</h2>
    <button id="logout">Logout</button>
</main>
<script src="/script/dashboard.js"></script>