* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/repeatveg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

#password{
  padding-bottom: 3px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 74vh;
  align-items: center;
}

#topnav {
  height: 8vh;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

#welcome-box{
  background-color: #f8f9fa;
  max-width: 66vw;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 100px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.navbar-light .navbar-brand {
  color:  olivedrab;
}

#welcome{
  font-size: 4rem;
  color:olivedrab;
}

#welcomePTag{
  color: #6c757d;
}

#newHereP{
  margin-bottom: 0rem;
  color: #6c757d;
}

#usernameColor{
  color: #6c757d; 
}

#passwordColor{
  color: #6c757d;
}

#loginH3{
  color: olivedrab;
}

#login{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.py-3{
  background-color: #f8f9fa;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 20vh;
  box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.2);
}

.loginButton {
  border-radius: 8px;
  padding: 3px;
  background-color: olivedrab;
  border: 2px solid olivedrab;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);
  opacity: 0.8;
  transition: 0.3s;
}

.loginButton:hover {
opacity: 1;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70%;
  background-color: #f8f9fa;
  margin: 40px;
  padding: 20px;
}

form.login {
  display: flex;
  flex-direction: column;
}
.form-element {
  width: 100%;
}

.form-element label {
  font-size: 1.2rem;
}

.plantLI {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  margin: 5px
}

.plantLI img {
  width: 80px;
  height: 80px;
  margin: 10px;
  /* align-self: start; */
}

.plantLI label {
    font-weight: bold;
}

.plantLI div {
  display: flex;
  flex-direction: column;
}

.plantLI p {
  font-size: 0.8rem;
}

.btnBox {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.gardenBtn {
  margin: 5px;
}

.gardenTitle {
  align-self: start;
}

.for-print {
  visibility: hidden;
}

.gardenLI {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  box-shadow: 5px 5px 2px lightgray; 
}

.garden-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
}

.garden-btn-box a {
  align-self: stretch;
}

.garden-btn{
  background-color: lightgreen;
  align-self: stretch;
  margin: 10px 0;
  border: none;
  box-shadow: 2px 2px 2px lightgray; 
}

.form-btn {
  width: 30%;
  align-self: center;
}

.garden-btn#email {
  width: 100%;
}

.garden-btn:hover {
  color: whitesmoke;
  font-weight: bold;
}

.editMeasBox {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}

.labels, .inputs {
  /* border: 1px solid black; */
  width: 50%;
}

.prev {
  border: 2px solid green;
  color: green;
}

.edit-input {
  color: green;
}

#label-inpt-box {
  display: flex;
}

#form-label-box, #form-inpt-box {
  display: flex;
  flex-direction: column;
}

#button-box {
  width: 100%;
}

#gardenList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 60vh;
  padding: 10px;
  overflow-y:auto;
  border: 5px double lightgray;
}

#gardenImg img {
  width: 500px; 
  height: 300px;
}

#welcome-h2, #welcome-p {
  width: 80%;
  text-align: center;
}

#editMeasQues {
  display: flex;
  /* align-items:center;
  justify-content: start; */
  width: 100%;
  /* border: 1px solid black; */
}