* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/DELETE-ME/watermelonraddish.jpg");
  }

  main {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 76vh;
  }

  .py-3{
    background-color: #f8f9fa;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 20vh;
  }

  .plantLI {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 5px
  }

.plantLI img {
  width: 80px;
  height: 80px;
  margin: 10px;
  /* align-self: start; */
}

.plantLI label {
    font-weight: bold;
}

  .plantLI div {
    display: flex;
    flex-direction: column;
  }

  .plantLI p {
    font-size: 0.8rem;
  }